@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* 
* <<<<<<<		Table of Contents		>>>>>>>
*
*1. BODY, CONTENT, HTML and H1, H2, H3, H4, H5, H6
*2. WRAPPER INDEX
*3. HEADER
*4. FOOTER
*5. NAV-BAR
*6. LESSONS
*7. WHO-ARE-WE
*8. PRODUCERS-LIST
*9. INFORMATION
*10. STUDIO
*11. PRODUCERS
*12. PRICES
*13. INDEX-SLIDESHOW
*14. Equipment
*/



/* 1. BODY, CONTENT, HTML and H1, H2, H3, H4, H5, H6 */

html {
	font-family: 'Open Sans', sans-serif;
}

html p {
	font-size: 14px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	min-width: 240px;
	background-image: url("../images/symphony.png");
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}

/* Using relative font-size to body (rem) */
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: 300;
}

.wrapper {
	flex: 1;
	width: 100%;
	min-width: 800px;
	max-width: 860px;
	margin: auto;
	position: relative;
	padding: 50px 10px 40px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
/*2. WRAPPER INDEX*/

.wrapperindex {
	flex: 1;
	width: 100%;
	min-height: 100%;
	position: relative;
	padding: 0 0 60px 0;
	margin-top: -40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

/*3. HEADER */

.header {
	left: 0;
	min-width: 314px;
	width: 100%;
	position: fixed;
	height: 53px;
	background-color: black; /* Endret fra #a03033 */
	z-index: 1;
	align-items: center;
}

.header-p {
	padding: 14px 10px 10px 20px;
	color: white;
	float: left;
}


.social {
	padding: 13px 20px 10px 10px;
	float: right;
}

.social img {
	height: 25px; 
	width: 30px;
	margin-left: 10px;
	border: solid;
	border-width: 1px;
	border-color: #FFFFFF
}

.header-link {
	text-decoration: none;
	color: white;
}


/* 4. FOOTER */

.footer {
	position: absolute;
	min-width: 210px;
	width: 100%;
	height: 30px;
	left: 0;
	margin-top:-30px;
	background-color: black;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
}

.push {
	height: 30px;
}

.footer p {
	width: 100%;
	text-align: center;
	color: white;
}

/* 5. NAV-BAR */

.nav-bar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 12px 0;
	justify-content: space-around;
	font-size: 1.2em;
	font-weight: bold;
	align-items: center;
	font-family: 'Droid Sans', sans-serif;
}

.nav-bar > .tab {
	font-size: 1em;
	padding: 10px 12px;
	text-align: center;
	transition: box-shadow .2s ease-in-out;
	text-decoration: none;
	color: #000;
	height: 1em;
}

.nav-bar > .tab:hover:not(.img) {
	box-shadow: inset 0 -3px 0 #000;
	transition-duration: .05s;
}

.nav-bar > .tab.img {
	background-image: url('../images/pick.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
}

/* 6. LESSONS */

.product-bar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
}

.product-bar > .product {
	text-align: center;
	max-width: 180px;
	height: auto;
}

.product-bar img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

.product-bar a {
	color: black;
}

.product-bar p {
	color: #4c4f54;
}

/* 7. WHO-ARE-WE */
.who-box { 
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	display: block;
	align-items: center;
}

.who-box .box {
	padding: 10px;
	float: left;
	width: 410px;
}

.box > p {
	color: #4c4f54;
}

.who-box img {
	width: auto;
	max-width: 860px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 8. PRODUCERS-LIST */
.producers {
	display: block;
	width: auto;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
}

.producer-box {
	float: left;
	width: 28%;
	height: 30%;
	padding: 0 20px 0 20px;
	word-wrap: break-word;
}

.producer-box .producer-pic {
	width: 200px;
	margin: auto;
	position: relative;
}

.producers p {
	color: #4c4f54;
}

.producer-box img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}


/* 9. INFORMATION */
.information-box {
	width: 600px;	
	margin: auto;
	border-bottom: solid;
	border-width: 2px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.information-box:last-child{
	border: 0;
}

.information-text {
	float: left;
	width: :300px;
}

.information-text p {
	color: #4c4f54;
}

.plain-list {
	list-style: none;
	margin: 5;
	padding: 0;
}

.information-pic {
	float: left;
	width: 100%;
	margin-left: -10;
}

.information-pic .pic {
	max-width: 100%;
	max-height: 500px;
}

.black-link {
	color: #4c4f54;
}

/* 10. STUDIO */
.studio {
	width: 100%
}
.studio img{
	width: 100%	;
	max-width: 860px;
	display: block;
	margin: auto;
}
.studio .leftbox {
	float: left;
	width: 45%
}
.studio .rightbox {
	float: right;
	width: 45%
}
.studio .leftbox img {
	width: auto;
	max-width: 430px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.studio .rightbox {
	float: right;
	width: 45%
}
.studio .rightbox img {
	width: auto;
	max-width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 11. PRODUCERS */
.prodtekst {
    width: 100%
}
.prodtekst .tekst {
    float: left;
    width: 70%;
}
.prodtekst .beside {
    float: right;
    width: 25%;
}
.prodtekst .beside img {
    width: 200px;
    height: 200px;
}
.prodtekst .beside .form {
    border: 2px solid;
    border-radius: 7px;
}
.prodtekst .beside .form .row {
    margin-left: 2px;
}

.input {
	width: 97%;
}

/* 12. PRICES */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.button {
	width: 100px;
	margin: auto;
	margin-top: 20px;
}	

/* 13. INDEX SLIDESHOW */

.container {
	max-width: 960px;
	margin: 0 auto;
}

.featured {
	background: url("../images/tynnebilder6.jpg") center center;
	height: 500px;
	position: relative;
	background-size: cover;
	-webkit-transition: background-image 0.4s ease-in-out;
	-webkit-transition: background-image 0.4s ease-in-out;
    -moz-transition: background-image 0.4s ease-in-out;
    -o-transition: background-image 0.4s ease-in-out;
    -ms-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;
}

.featured-headline {
	display: block;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 20px 0;
}

.featured-headline h2 {
	font-size: 30px;
	color: #FFFFFF;
	display: inline;
}

.featured-headline .container {
	position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* 14. EQUIPMENT */

.equipment-second-header {
	height: 55px;
}

.equipment-header {
	margin-left: auto;
	margin-right: auto; 
}