body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	min-width: 240px;
	background-image: url("../images/symphony.png");
}

.wrapper {
	flex: 1;
	width: 100%;
	max-width: 860px;
	margin: auto;
	position: relative;
	padding: 40px 10px 40px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.header {
	position: fixed;
	width: 100%;
	min-height: 50px;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	background-color: black; /** Endret fra #a03033 **/
	z-index: 1;
	display: flex;
	align-items: center;
}

.header-p {
	text-align: left;
	padding-left: 20px;
	color: white;
	width: 85%;
}


.social {
	padding-top: 10px;
	float: right;
}

.social img {
	height: 25px; 
	width: 30px;
	margin-left: 10px;
}

.footer {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	bottom: 0;
	background-color: black;
}

.footer p {
	text-align: center;
	width: 100%;
	color: white;
}

/** 14. Nav-Bar */

.nav-bar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 12px 0;
	justify-content: space-around;
	font-size: 1.2em;
	font-weight: bold;
	align-items: center;
}

.nav-bar > .tab {
	font-size: 1em;
	padding: 10px 12px;
	text-align: center;
	transition: box-shadow .2s ease-in-out;
	text-decoration: none;
	color: #000;
	height: 1em;
}

.nav-bar > .tab:hover:not(.img) {
	box-shadow: inset 0 -3px 0 #000;
	transition-duration: .05s;
}

.nav-bar > .tab.img {
	background-image: url('../images/pick.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
}

/**Product bar**/

.product-bar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
}

.product-bar > .product {
	text-align: center;
	max-width: 180px;
	height: 430px;
}

.product-bar img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

.product-bar a {
	color: black;
}

.product-bar p {
	color: #4c4f54;
}

/** END PRODUCT BAR**/


/*who are we*/
.who-box {
	margin: auto;
	width: 860px;
	display: block;
	align-items: center;
}

.who-box .box {
	padding: 10px;
	float: left;
	width: 410px;
}

.box > p {
	color: #4c4f54;
}

.who-box img {
	width: auto;
	max-width: 860px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*end who are we*/

/*producers-list*/
.producers {
	width: 100%;
	display: block;
	float: left
}

.producer-box {
	float: left;
	width: 400px;
	height: 220px;
	border-width: 2px;
	border-color: #000000;
	margin-bottom: 5px;
	margin-left: 10px;
}

.producer-box .producer-pic {
	float: left;
	width: 200px;
	margin-right: 10px;
	margin-bottom: 10px
}

.producers p {
	color: #4c4f54;
}
/*end producer-list*/

.header-link {
	text-decoration: none;
	color: white;
}

.main-page-pic img { /**Må endres til å bli responsivt senere**/
	height: 430px;
	width: 100%;
	top: -25px;
	position: relative;
}

/**INFORMATION**/
.information-box {
	width: 600px;
	margin: auto;
	border-bottom: solid;
	border-width: 2px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.information-box:last-child{
	border: 0;
}

.information-text {
	float: left;
	width: :300px;
}

.information-text p {
	color: #4c4f54;
}

.plain-list {
	list-style: none;
	margin: 5;
	padding: 0;
}

.information-pic {
	float: left;
	width: 100%;
	margin-left: -10;
}

.information-pic .pic {
	max-width: 100%;
	max-height: 500px;
}

.black-link {
	color: #4c4f54;
}
/*end INFORMATION*/

/*Studio*/
.studio {
	width: 100%
}
.studio img{
	width: auto;
	max-width: 860px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.studio .leftbox {
	float: left;
	width: 45%
}
.studio .rightbox {
	float: right;
	width: 45%
}
.studio .leftbox img {
	width: auto;
	max-width: 430px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.studio .rightbox {
	float: right;
	width: 45%
}
.studio .rightbox img {
	width: auto;
	max-width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Producers*/
.prodtekst {
    width: 100%
}
.prodtekst .tekst {
    float: left;
    width: 70%;
}
.prodtekst .beside {
    float: right;
    width: 25%;
}
.prodtekst .beside img {
    width: 200px;
    height: 200px;
}
.prodtekst .beside .form {
    border: 2px solid;
    border-radius: 7px;
}
.prodtekst .beside .form .row {
    margin-left: 2px;
}

/*Prices*/

.prices-box{
	width: 100%;
}

.price-element{
	width: 70%;
	margin: auto;
}

.price-name {
	width: 450px;
	float: left;
}

.price-number {
	width: 130px;
	float: left;
}

.prices.box p {
	color: #4c4f54;
}

.button {
	width: 100px;
	margin: auto;
	margin-top: 20px;
}	