body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	min-width: 240px;
	background-image: url("../images/symphony.png");
}

.wrapper {
	flex: 1;
	width: 100%;
	max-width: 860px;
	margin: auto;
	position: relative;
	padding: 40px 10px 40px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.header {
	position: fixed;
	width: 100%;
	min-height: 50px;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	background-color: black; /** Endret fra #a03033 **/
	z-index: 1;
	display: flex;
	align-items: center;
}

.header-p {
	text-align: left;
	padding-left: 20px;
	color: white;
	width: 85%;
}


.social {
	padding-top: 10px;
	float: right;
}

.social img {
	height: 25px; 
	width: 30px;
	margin-left: 10px;
}

.footer {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	bottom: 0;
	background-color: black;
}

.footer p {
	text-align: center;
	width: 100%;
	color: white;
}

/** 14. Nav-Bar */

.nav-bar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 12px 0;
	justify-content: space-around;
	font-size: 1.2em;
	font-weight: bold;
	align-items: center;
}

.nav-bar > .tab {
	font-size: 1em;
	padding: 10px 12px;
	text-align: center;
	transition: box-shadow .2s ease-in-out;
	text-decoration: none;
	color: #000;
	height: 1em;
}

.nav-bar > .tab:hover:not(.img) {
	box-shadow: inset 0 -3px 0 #000;
	transition-duration: .05s;
}

.nav-bar > .tab.img {
	background-image: url('../images/pick.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 50px;
}

.wrapper .text {
	margin: auto;
	text-align: left;
}

.text .list {
	text-align: left;
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.producer-list {
	width: 600px%;
}

.producer-pic {
	float: left;
	width: :300px;
}

.producer-info {
	float: left;
	width: 300px;
	margin-left: 10px;
}

.producer-info .producer-text {
	height: 200px;
}

.header-link {
	text-decoration: none;
	color: white;
}

.main-page-pic img { /**Må endres til å bli responsivt senere**/
	height: 430px;
	width: 100%;
	top: -25px;
	position: relative;
}